* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 90%;
  max-width: 450px;
  background: linear-gradient(245deg, #0a97b0, #441752);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #000000;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 16px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.search button i {
  font-size: 18px;
  color: #222;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
.weather-icon {
  width: 170px;
  margin-top: 20px;
}
.weather {
  display: none;
}
.weather h1 {
  font-size: 60px;
  font-weight: 500;
}
.weather h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  justify-content: space-between !important;
  padding: 0 20px;
  margin-top: 40px;
}
.details .col {
  text-align: left;
}
.col i {
  font-size: 37px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
    width: fit-content;
  font-size: 12px;
  margin: auto;
  text-align: justify;
  font-weight: 400;
  color: #fff;
}
@media only screen and (max-width: 500px) {
  .card {
    max-width: 350px;
    padding: 30px 25px;
  }
  .search input {
    height: 35px;
    margin-right: 8px;
  }
  .search button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .weather-icon {
    width: 150px;
    margin-top: 5px;
  }
  .weather h1 {
    font-size: 45px;
  }
  .weather h2 {
    font-size: 25px;
  }
  .details {
    padding: 0 10px;
    margin-top: 30px;
  }

  .col i {
    font-size: 30px;
    margin-right: 10px;
  }
  .humidity,
  .wind {
    font-size: 15px;
    margin-top: -6px;
  }
}
@media only screen and (max-width: 380px) {
  .card {
    max-width: 350px;
    padding: 30px 17px;
  }
  .search button {
    height: 35px;
    width: 35px;
  }
  .search button i {
    font-size: 15px;
  }
}
@media only screen and (max-width: 355px) {
  .card {
    max-width: 330px;
    padding: 30px 15px;
  }
  .search input {
    height: 34px;
    margin-right: 4px;
  }
}
